* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background: #ffffff;

    color: #111111;

    line-height: 1.6;
}


header {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;
    height: 75px;

    padding: 0 6%;

    display: flex;

    align-items: center;

    justify-content: space-between;

    background: rgba(255, 255, 255, 0.96);

    border-bottom: 1px solid #eeeeee;

    z-index: 1000;

    transition: 0.3s;


}

.logo {
    display: block;
}

.navbar {
    display: flex;

    align-items: center;

    gap: 32px;
}

.navbar a {
    position: relative;

    text-decoration: none;

    color: #111111;

    font-size: 0.75rem;

    font-weight: 600;

    letter-spacing: 1px;

    transition: 0.3s;
}

.navbar a::after {
    content: "";

    position: absolute;

    left: 0;
    bottom: -7px;

    width: 0;
    height: 1px;

    background: #e60012;

    transition: 0.3s;
}

.navbar a:hover {
    color: #e60012;
}

.navbar a:hover::after {
    width: 100%;
}


.beranda {
    position: relative;
    width: 100%;
    height: calc(100vh - 75px);
    display: grid;
    grid-template-columns: 55% 45%;
    overflow: hidden;
    background: #fff;
}


.product-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;

    transition: opacity 0.5s ease,
        transform 0.7s ease;
}




.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
}

.product-category {
    font-size: 0.75rem;
    letter-spacing: 3px;
    color: #888;
    margin-bottom: 20px;
}

.product-info h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    line-height: 1;
    margin-bottom: 25px;
}

.product-price {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-variant {
    color: #777;
}




.product-info.animate {
    animation: infoAppear 0.7s ease;
}

@keyframes infoAppear {

    0% {
        opacity: 0;
        filter: blur(12px);
        transform: translateX(40px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }

}



.slider-buttons {
    position: absolute;
    bottom: 40px;
    right: 5%;
    display: flex;
    gap: 10px;
}

.slider-buttons button {
    width: 45px;
    height: 45px;
    border: 1px solid #111;
    background: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

.slider-buttons button:hover {
    background: black;
    color: white;
}

.about {
    background-color: #ffffff;
    display: flex;
}

.text .filosofi {
    font-size: 90px;
    padding-left: 4rem;
    padding-top: 200px;

}

.text .deskripsi-produk {
    font-size: 20px;
    text-align: left;
    padding-left: 4rem;
    max-width: 1000px;
    padding-top: 2rem;
}


.collection {
    padding: 100px 6%;
    background: #fff;
}

.collection-header {
    margin-bottom: 45px;
}

.collection-header p {
    font-size: 0.75rem;
    letter-spacing: 3px;
    color: #888;
    margin-bottom: 12px;
}

.collection-header h2 {
    font-size: clamp(3rem, 6vw, 5rem);
    line-height: 1;
}



.product-list {
    display: flex;
    gap: 25px;
    overflow-x: auto;
    padding-bottom: 20px;

    scrollbar-width: none;
}

.product-list::-webkit-scrollbar {
    display: none;
}



.card {
    flex: 0 0 280px;
    cursor: pointer;
}



.card-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
    background: #f5f5f5;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: transform 0.5s ease;
}

.card:hover .card-image img {
    transform: scale(1.05);
}




.badge {
    position: absolute;
    top: 15px;
    left: 15px;

    background: #111;
    color: #fff;

    padding: 6px 10px;

    font-size: 0.65rem;
    font-weight: 600;
    letter-spacing: 1px;

    z-index: 2;
}



.card-info {
    padding-top: 18px;
}

.card-info h3 {
    font-size: 1rem;
    margin-bottom: 4px;
}

.card-info p {
    color: #777;
    font-size: 0.85rem;
    margin-bottom: 12px;
}




.card-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price {
    font-size: 0.9rem;
    font-weight: 600;
}

.rating {
    font-size: 0.8rem;
    color: #777;
}


.contact {
    min-height: 70vh;
    padding: 100px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    background: #111;
    color: #fff;

}

.contact-text {
    width: 50%;
}

.contact-text p {
    font-size: 100px;
    letter-spacing: 5px;
    color: #aaa;
    margin-bottom: 20px;
}

.contact-text h2 {
    font-size: clamp(4rem, 8vw, 8rem);
    line-height: 0.9;
    margin-bottom: 30px;
}

.contact-info {
    width: 35%;
}

.contact-info div {
    padding: 20px 0;
    border-bottom: 1px solid #333;
}

.contact-info span {
    display: block;
    font-size: 0.7rem;
    letter-spacing: 7px;
    color: #888;
    margin-bottom: 8px;
}

@media (max-width: 768px) {

    
    .header {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto;
        justify-items: center;
        gap: 20px;
        padding: 20px 15px;
        height: auto;
    }

    .logo {
        margin: 0;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    .navbar {
        display: grid;
        grid-template-columns: repeat(4, auto);
        justify-content: center;
        gap: 15px;
        width: 100%;
    }

    .navbar a {
        font-size: 10px;
        white-space: nowrap;
    }


   
    .beranda {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        text-align: center;
        height: auto;
    }

    .product-image {
        width: 100%;
        height: 400px;
    }

    .product-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .product-info {
        width: 100%;
        padding: 40px 20px;
    }

    .product-info h1 {
        font-size: clamp(2.5rem, 12vw, 4rem);
    }

    .slider-buttons {
        position: static;
        justify-content: center;
        padding-bottom: 30px;
    }


   
    .about {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "image"
            "text";
        gap: 30px;
        padding: 60px 20px;
        text-align: center;
    }

    .foto-about {
        grid-area: image;
        width: 100%;
    }

    .text {
        grid-area: text;
        width: 100%;
    }

    .foto-about img {
        width: 80%;
        height: auto;
        margin: auto;
        display: block;
    }

    .text .filosofi {
        font-size: clamp(3rem, 15vw, 5rem);
        padding: 0;
    }

    .text .deskripsi-produk {
        width: 90%;
        margin: auto;
        padding-top: 20px;
        font-size: 16px;
    }


   
    .collection {
        padding: 60px 20px;
    }

    .collection-header {
        text-align: center;
    }

    .product-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "text" "info";
        gap: 40px;
        padding: 60px 20px;
        text-align: center;
    }

    .contact-text,
    .contact-info {
        width: 70%;
    }

    .contact-text h2 {
        font-size: clamp(3.5rem, 15vw, 6rem);
    }

}
